HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/application.properties

# Maven build output
/target/

# Environment files
.env

# Node
/frontend/node_modules/
 ../src/main/resources/application.properties
terraform/.terraform
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup